<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span>[PHOTO]</span>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="menu">
                <ul class="nav navbar-nav">
                    <li class="lien {{ app.request.get('_route')=='index'?'active' }}"><a href="{{ path('index') }}"><i class="fa fa-home sr-icons"></i> Home</a></li>
                    <li class="lien {{ app.request.get('_route')=='app_about'?'active'}}"><a href="{{ path('app_about') }}"><i class="fa fa-bookmark sr-icons"></i> About</a></li>
                    <li class="lien {{ app.request.get('_route')=='app_blog'?'active'}}{{ app.request.get('_route')=='app_post'?'active'}}"><a href="{{ path('app_blog') }}"><i class="fa fa-file-text sr-icons"></i> Blog</a></li>
                    <li class="lien {{ app.request.get('_route')=='contacto'?'active' }}"><a href="{{ path('contacto') }}"><i class="fa fa-phone-square sr-icons"></i> Contact</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY')==false %}
                    <li class="lien {{ app.request.get('_route')=='login'?'active' }}"><a href="{{ path('login') }}"><i class="fa fa-sign-in sr-icons"></i> Login</a></li>
                    {% endif %}
                    <li class="lien {{ app.request.get('_route')=='registro'?'active' }}"><a href="{{ path('registro') }}"><i class="fa fa-user-secret sr-icons"></i> Registro</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="lien {{ app.request.get('_route')=='imagen_galeria'?'active' }}"><a href="{{ path('imagen_galeria') }}"><i class="fa fa-image sr-icons"></i> Galería</a></li>
                    <li class="lien {{ app.request.get('_route')=='asociado'?'active' }}"><a href="{{ path('asociado') }}"><i class="fa fa-hand-o-right sr-icons"></i> Asociados</a></li>
                    <li class="lien "><a href="{{ path('app_logout') }}"><i class="fa fa-hand-o-right sr-icons"></i> {{ app.user.username }} Salir</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/scrollreveal.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container text-muted text-center" >
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-facebook sr-icons"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-twitter sr-icons"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-google-plus sr-icons"></i></a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="footer-number"><i class="fa fa-phone sr-icons"></i>(00228)92229954 </li>
                <li><i class="fa fa-envelope sr-icons"></i>  kouvenceslas93@gmail.com</li>
            </ul>
            <p>Photography Fanatic Template &copy; 2017</p>
        </div>
    </footer>
{% endblock %}
</body>
</html>
